<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://res.cloudinary.com/hqzzct2yz/image/upload/v1507163974/20170902_133854_idcqud.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Go To W3.CSS">About Us</button>
    <!--<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Therapy Pets of Greater Cincinnati</button>-->
  </div>
</header>

<script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#aboutGroup" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Our Group</a>
  <a href="#mission" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Mission Statement</a>
  <a href="#board" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Board of Directors</a>

 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#pricing" class="w3-bar-item w3-button">Price</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>

<!-- Modal -->
<!-- <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div> -->

<!-- Team Container -->
<div class="w3-container w3-padding-large w3-margin w3-center" id="aboutGroup">
<h2>About Our Group</h2>
<h4>
Therapy Pets of Greater Cincinnati is a non-profit organization founded in 2004 as the tri-state resource for the human-animal bond and to validate the important role of animals for people's health and well-being. We have strict guidelines for evaluating volunteer Therapy Animal teams and providing Animal-Assisted Activities and Animal Assisted Therapy services.

We train volunteers and screen pets to visit acute, rehabilitation and palliative healthcare facilities, group homes and schools throughout the Greater Cincinnati/Northern Kentucky Metro area. Our current membership of quality teams includes over 200 volunteers and their dogs and other pets. Therapy Pets of Greater Cincinnati values our animals’ safety and welfare as our highest priority while helping our pets to share their unconditional love with others. Client confidentiality, including compliance with HIPAA regulations, is assured.

We have been recognized by the Internal Revenue Service as a not-for-profit organization under Section 501(c)(3) since March, 2005, and are further classified as a public charity under Section 170(b)(1)(A)(vi). Donations to our organization may be fully deductible, but please check first with a qualified tax professional.
</h4>
</div>

<div class="w3-container w3-padding-large w3-margin w3-center w3-center" id="mission">
<h2>Mission Statement</h2>
<h4>
  Through our trained Therapy Animal teams, the members of Therapy Pets of Greater Cincinnati are able to provide unconditional love, emotional support, comfort, joy, and a pleasant distraction from the everyday stresses in life by allowing our pets to interact and bond with the people they meet. We strive to make a positive difference in the lives we touch in all the facilities we visit, including health care facilities, retirement communities, and schools, while we educate the community about the significant value of the human-animal bond.
</h4>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-large w3-margin w3-center w3-center" id="board">
<h2>Board of Directors</h2>

<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147997/BOD/GlennaM.jpg" alt="Glenna" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Glenna Mockbee, Executive Director and Founder of TPGC</h3>
  <p>I have been doing therapy work for 27 years, have been a Therapy Team since 2000 with Delta Society which is now Pet Partners, am a Licensed Evaluator
    since 2004 and a Pet Partner Instructor since 2007,  the same year I founded Therapy Pets of Greater Cincinnati. I am also the group Speaker and
     to the Community.  We started in 2004 with a handful of Therapy Teams and have grown to over 200 members since then.  In addition, I started the
     Therapy Dog Program at Shriners Burn Hospital for Children in Cincinnati, and I am the head of the Ronald McDonald House Program.  I am also
     certified with the American Red Cross disaster Relief Team in Cincinnati. My Pet Partners are an active therapy team currently visiting
     Oncology, Neurology, Pediatrics, and Burn units at all the local hospitals.  For the last few years all 5 of my Therapy Pets and myself have
     been very active working with children with special needs.  We go to local schools to help in the class rooms.  Our goals are a smile, a word,
     a laugh, a deep breath, a hand reaching, a trust, a step forward, a sense of self-worth, a walk outside, a small change that makes a big
     difference.</p>
</div>
</div>

<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147996/BOD/SusanS.jpg" alt="Susan" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Susan Steinhardt, President</h3>
  <p>My name is Susan Steinhardt and my pet partner is Bailey, a 6 year old Golden Retriever. We
have been members of TPGC since 2014. I am currently the TPGC Newsletter Editor and was a
member of the By-Laws Committee. Bailey and I visit Our Lady of Visitation School weekly for a
reading program. We currently have 9 children reading to us. We also visit Kings High School
special needs classes on Fridays on a rotating schedule as well as various special events (book
fairs, health fairs, exam week stress relief, etc).
Prior to belonging to TPGC, I was a member of Pets Helping People for several years, visiting
Kenwood Terrace Nursing Home on a weekly basis with my 2 golden retrievers (now deceased)
and I also visited Children’s Hospital (main campus) with one of my dogs.
My professional background includes 24 years at P&amp;G (most recently as Director of Business
Intelligence Services) and 12 years as an Executive Coach working with individuals and
corporations.
I see several opportunities for TPGC to strengthen engagement with our members and better
connect with those organizations seeking Pet Partner visits.
I would like to play a role in helping TPGC to grow and have an even bigger impact on the
communities in which we live.
  </p>
</div>
</div>

<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147997/BOD/AliceS.jpg" alt="Alice" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Alice Sturgeon, Secretary</h3>
  <p>I have been a member of TPGC since 2010:  I have had 3 therapy dogs in the 7 years with TPGC.  Kepler and Abby, whom I used to visit with at
    Shriners Hospital, and Luke, is my current pet partner, a 4 year old Golden Retriever.  The moment I rescued him as a puppy, I knew that Luke
    would provide love and blessings to those we visit.  Luke loves his job!  Luke and I visit Kings High School on a weekly basis and go to
    other schools several times a month.  Bethesda North Hospital, Book Fairs, Health Fairs, Stress Relief for Colleges and High Schools, Special
    Events, TPGC Testing and TPGC Workshops are all the places we go.  Basically, we’ll go anywhere Glenna needs us to fill in.  Luke and I enjoy
    not only our weekly visiting but also interacting with potential new pet partner teams.  Luke is the “Neutral Dog” at testing when needed.
    Luke and I also participate in all of the Pet Partners Workshops.  Luke is the testing demonstration dog!  We love spreading our story to new
    teams.  Not only does our work benefit those we visit but it continues to brighten our day as well. </p>
</div>
</div>
<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147996/BOD/RobinD.jpg" alt="Robin" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Robin Daniels, Trustee</h3>
  <p>Hi, I'm Robin Daniels.  I've been with Pet Partners and TPGC since 2009.  I'm currently a Trustee on your Board, and have been on the
    Board for almost 4 years.  Thank you for letting me serve on our TPGC Board.   I've also been doing the TPGC Luncheons for the past 7 years.
     In May of 2017 I received my License from Pet Partners to Evaluate Pet Teams.  So you will see me if you are testing at Bethesda North or in
     Northern  Kentucky!  I just love everything that Pet Partners and Therapy Pets of Greater Cincinnati stand for.  Pet therapy is in my heart
     and I can't imagine not volunteering, testing, and continuing my education even further with this organization.
     I grew up on a farm, so loving and caring for animals is in my nature.  I have a Shih Tzu named Mika that is my current therapy pet.  She's a
     little Diva, and is our pride and joy.  Isn't that how it should be!  Our pets are the best!  </p>
</div>
</div>

<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147995/BOD/DebN.jpg" alt="Deb" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Deb Newstrand, Trustee</h3>
  <p>My name is Deb Newstrand and my husband and I are transplants from Oregon.  I work for Kroger and I have been with them for 39 years working
    in the Workers’ Compensation field. I retired in March 2017 and with my extra time I wanted to become more involved with TPGC.
    I have been with TPGC since  2013 and this year  I took over the task of keeping track of the facilities visited and the hours spent at each
    location for everyone.  It’s been quite an undertaking!!! My dog Tinkerbelle and I visit St. E’s in Florence and Crestview, Villa Springs
    Retirement Facility and  North Key in Covington every week.  We also represent TPGC at special events such as speaking to scout troops, exam
    relief and “Taking Your Child to Work Day” etc. There have also been many times Tink came to work with me at the Corporate Kroger Building
    downtown.
    When I was 4 years old I had eye surgery and was in the hospital for quite some time with both eyes bandaged.  I vividly remember a dog coming
    to visit and he would sit with me and my Mom so I could pet and hug him for the longest time.   I waited for his visits and I loved him! I later
    found out he was a black and white bulldog.  The older I got the more I wanted my memory to become a reality for other children which is the
    reason behind my passion for TPGC.</p>
</div>
</div>

<div class="w3-row"><br>

<div class="w3-quarter w3-padding-64">
  <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511147996/BOD/JamieS.jpg" alt="Jamie" style="height:245px" class="w3-circle w3-hover-opacity">
</div>

<div class="w3-half w3-padding-32">
  <h3>Jamie Stewart , Trustee</h3>
  <p>I have been a member of TPGC since 2014.  I became involved when I adopted a senior rescue Golden Retriever from GRRAND.  Maggie loved everyone
    and everyone loved her, so she clearly told me, at age 9, that she wanted to do therapy work!  After acing the evaluation, we went to high schools
    to interact with special needs students, to library reading programs, to nursing homes and rehab centers, and our favorite...Reading With Maggie
    at a local elementary schools, every Friday!  She was a wonderful therapy dog, always making people smile with her sweet sugar face.  Sadly,
    she crossed the bridge after being diagnosed with osteosarcoma on August 7, 2017.  I remain a member of TPGC as an ambassador, but look forward
    to finding a new therapy dog to work with in the future!  I continue to help with testings and workshops, and want to help TPGC continue as the
    premier therapy pet organization in Greater Cincinnati/N. KY!</p>
</div>
</div>

</div>



<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-row">
    <div class="w3-third">
      <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="w3-third">
      <h4>Pet Partners</h4>
        <a href="https://petpartners.org/" title="Pet Partners" target="_blank">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1512522927/logo-pet-partners_y4uicj.png" style="width:48px;height:48px;">
        </a>
    </div>
    <div class="w3-third">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr/" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="DUAURJPTRKQQ8">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
