<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("http://res.cloudinary.com/hqzzct2yz/image/upload/v1510350425/masonChristian_ncky9n.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Therapy Pets of Greater Cincinnati">Facilities We Serve</button>
  </div>
</header>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>

<!-- Facilities Container -->
<div class="w3-row w3-padding-large">
<h4>
      These are some of the facilities we serve.  You can find an email link on several of these facilities.  Stay tuned as we will frequently update this list.<br>
</h4>
</div>

<div class="w3-row w3-padding-large">
  <div class="w3-third">
    <div class="w3-card-2 w3-white w3-margin-right">
      <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510341311/masonhs_i9rw9j.jpg" alt="Schools" style="width:100%">
      <div class="w3-container">
        <h3>Schools</h3>
        <h4></h4>
        <p><a href="mailto:kspradlin@fuse.net">Batavia Elementary</a></p>
        <p>Fairfield East Elementary</p>
        <p>Terrace Park Elementary School </p>
        <p>Madeira Elementary School</p>
        <p><a href="mailto:gmockbee@fuse.net">Mason Schools</a></p>
        <p><a href="mailto:gmockbee@fuse.net">Kings Schools</a></p>
        <p><a href="mailto:Firman1653@gmail.com">Lebanon High School</a></p>
        <p><a href="mailto:Firman1653@gmail.com">Bowman Elementary School, Lebanon</a></p>
        <p><a href="mailto:cddauenhauer@gmail.com">St. Xavier High School</a></p>
        <p><a href="mailto:sharon.newman5@gmail.com">St. Veronica Parish School</a></p>
        <p><a href="mailto:cddauenhauer@gmail.com">Ursuline Academy</a></p>
        <p><a href="mailto:suzanneemalenfant@gmail.com">Mariemont Schools</a></p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-white w3-margin-right">
      <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510341310/bnorth_rne7ac.jpg" alt="Hospitals" style="width:100%">
      <div class="w3-container">
        <h3>Hospitals</h3>
        <h4></h4>
        <p><a href="mailto:gmockbee@fuse.net">Bethesda North</a></p>
        <p><a href="mailto:bhaintl@me.com">Children's Hospitial</a></p>
        <p><a href="mailto:Firman1653@gmail.com">Tri-Health Arrowspings Medical Center</a></p>
        <p>Good Samaritan</p>
        <p><a href="mailto:gmockbee@fuse.net">Christ Hospital</a></p>
        <p><a href="mailto:Happychef882@netscape.net">Clermont Mercy Hospital</a></p>
        <p><a href="mailto:Happychef882@netscape.net">Mercy Anderson Hospital</a></p>
        <p>Mercy Fairfield Hospital</p>
        <p><a href="mailto:seaton9252@aol.com">Ronald McDonald House</a></p>
        <p><a href="mailto:gmockbee@fuse.net">Shriners Hospitals for Children – Cincinnati</a></p>
        <p><a href="mailto:geokent@gmail.com">St. Elizabeth Hospital</a></p>
        <p><a href="mailto:lisaackels@gmail.com">Cincinnati Veteran's Hospital</a></p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-white w3-margin-right">
      <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510341310/twinlakes_sxl9zm.jpg" alt="Retirement" style="width:100%">
      <div class="w3-container">
        <h3>Retirement Communities and Senior Care</h3>
        <h4></h4>
        <p>Hospice of Cincinnati</p>
        <p>Georgetown Veterans Home</p>
        <p>Cedar Village Nursing Home</p>
        <p>Meadowbrook Care Center</p>
        <p>Sem Haven Nursing Home</p>
        <p>The Lodge Nursing Home</p>
        <p>Mercy Franciscan</p>
        <p><a href="mailto:Firman1653@gmail.com">Otterbein - Lebanon</a></p>
        <p><a href="mailto:lailman@go-concepts.com">Lebanon Health Care Center</a></p>
        <p><a href="mailto:lailman@go-concepts.com">Otterbein - Middletown</a></p>
        <p>Chesterwood Village</p>
        <p><a href="mailto:bhaintl@me.com">Brookdale Senior Living</a></p>
      </div>
    </div>
  </div>
</div>

<div class="w3-row w3-padding-large">
  <div class="w3-third">
    <div class="w3-card-2 w3-white w3-margin-right">
      <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510349590/library_zwde8j.jpg" alt="Library" style="width:100%">
        <div class="w3-container">
          <h3>Libraries</h3>
          <h4></h4>
          <p>Boone County Library</p>
          <p>Cincinnati Library</p>
          <p>Fairfield Library</p>
          <p>Kenton Co. Library</p>
          <p>Mt. Orab Public Library</p>
          <p><a href="mailto:kspradlin@fuse.net">Clermont County Amelia Branch Library</a></p>
          <p><a href="mailto:kspradlin@fuse.net">Clermont County Union Township Branch Library</a></p>
          <p></p>
        </div>
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card-2 w3-white w3-margin-right">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510352404/moGchurch_asdhcr.jpg" alt="Churches and Religious Institutions" style="width:100%">
          <div class="w3-container">
            <h3>Colleges and Universities</h3>
            <h4></h4>
            <p><a href="mailto:lisaackels@gmail.com">University of Cincinnati</a></p>
            <p><a href="mailto:kspradlin@fuse.net">UC East Campus</a></p>
            <p><a href="mailto:lisaackels@gmail.com">Miami University</a></p>
            <p><a href="mailto:lisaackels@gmail.com">Xavier University</a></p>
            <p>Northern Kentucky University</p>
            <p>Mount St. Joseph University</p>

            <p></p>
          </div>
        </div>
      </div>

      <div class="w3-third">
        <div class="w3-card-2 w3-white w3-margin-right">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_530,w_980/v1510350328/Otterbein_2_hyjyqr.jpg" alt="Otterbein" style="width:100%">
            <div class="w3-container">
              <h3>Other Organizations</h3>
              <h4></h4>
              <p><a href="mailto:kspradlin@fuse.net">Beckett Springs</a></p>
              <p><a href="mailto:kspradlin@fuse.net">Forest Hills Care Center</a></p>
              <p>Drake Center - Bridgeway Point</p>
              <p>Half Price Books (Reading Program)</p>
              <p>Heartland Mt. Airy (formerly Manor Care)</p>
              <p>Hospice - St. Elizabeth - KY</p>
              <p>Hospice of Cincinnati</p>
              <p>Lindner Center of Hope</p>
              <p><a href="mailto:sharon.newman5@gmail.com">Goshen United Methodist Church</a></p>
              <p><a href="mailto:kspradlin@fuse.net">Clermont County Juvenile Detention Center</a></p>
              <p><a href="mailto:kspradlin@fuse.net">YWCA Hamilton</a></p>
              <p>Cincinnati Children's Mueseum</p>
              <p></p>
            </div>
        </div>
      </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-row">
    <div class="w3-third">
      <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="w3-third">
      <h4>Pet Partners</h4>
        <a href="https://petpartners.org/" title="Pet Partners" target="_blank">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1512522927/logo-pet-partners_y4uicj.png" style="width:48px;height:48px;">
        </a>
    </div>
    <div class="w3-third">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr/" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="DUAURJPTRKQQ8">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
