<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://res.cloudinary.com/hqzzct2yz/image/upload/v1510530478/TPGCpics3_cotnyk.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Therapy Pets of Greater Cincinnati">Frequently Asked Questions</button>
  </div>
</header>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>

<!-- FAQ Container -->

<div class="w3-row-padding w3-padding-64" id="faq">


    <h1>About Our Organization</h1>
    <div class="w3-container w3-theme-l2">
      <h2>What does it mean that Therapy Pets of Greater Cincinnati is a 501(c)(3) organization?</h2>
      <h3>501(c)(3) refers to the Internal Revenue Service’s tax code that allows a corporation to operate as a nonprofit and accept
      contributions from the public without paying taxes. This designation also allows you to count your contribution as a tax deduction.</h3>
    </div>
    <br><br>
    <h1>About Being a Therapy Animal team</h1>
    <div class="w3-container w3-theme-l2">
      <h2>Can I take my dog to an extended care facility without being registered?</h2>
      <h3>You can, but that is not advisable. You and your dog should be evaluated by a trained evaluator. Registration also eliminates the risk
        of not having the proper insurance.</h3>
    </div><br>

    <div class="w3-container w3-theme-l2">
      <h2>Does Therapy Pets of Greater Cincinnati require classroom instruction prior to Therapy Animal team registration?</h2>
      <h3>No, classroom instruction is not required. Therapy Pets of Greater Cincinnati offers Therapy Animal team Workshops to help those who
        want to learn more about pet therapy or who want assistance learning the required skills.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>Does my animal have to have all its vaccinations?</h2>
      <h3>Therapy Pets of Greater Cincinnati registration requires that each animal must be up to date with rabies vaccination and any other state
        required vaccine. Individual facilities may have their own requirements.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>Does the age of the animal matter?</h2>
      <h3>Yes it does. An animal must be at least one year of age to begin providing therapy. Animals younger than one year of age should be enrolled
        in a training program.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>Does the animal have to be spayed / neutered?</h2>
      <h3>No, an animal does not need to be spayed or neutered to provide Animal Assisted Therapy.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>How do I know if my animal is suited for therapy work?</h2>
      <h3>You and your pet should have an interest in people and enjoy visiting. Your pet should be healthy, have at least a basic level of training
        and be reliable, even in crowded or unexpected situations. Some essentials:
        <ul>
          <li>Animal likes being petted, touched and hugged</li>
          <li>Animal demonstrates reliable, controllable, predictable behavior</li>
          <li>Animal actively solicits interactions with people</li>
          <li>Animal is able to remain calm in disruptive settings</li>
          <li>Animal is outgoing, friendly and confident in new settings</li>
        </ul>
        If your animal is unpredictable, doesn’t like being around people, or is aggressive to people or other animals it would not be suitable for
        therapy work.
      </h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>What kind of animals can provide Animal Assisted Activities?</h2>
      <h3>Almost any animal can provide Animal Assisted Activities. With the correct training, animals such as dogs, cats, rabbits, guinea pigs,
        some birds, and even llamas are successfully used as therapy animals.
      </h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>Why should my pet and I be evaluated and registered?</h2>
      <h3>Several international organizations set standards for Animal Assited Activities (AAA) and Animal Assisted Therapy (AAT) and help ensure that visiting teams have the skills and aptitude to make
        a good team. Therapy Pets of Greater Cincinnati closely adheres to these standards in its workshops and its Therapy Team evaluations.  Once
        registered with Pet Partners, you and your pet are covered by a liability insurance policy while volunteering.
      </h3>
    </div>
    <br><br>

    <h1>General</h1>
    <div class="w3-container w3-theme-l2">
      <h2>Can I get involved with Therapy Pets of Greater Cincinnati without a pet?</h2>
      <h3>Yes, you can get involved and assist at any of the many events Therapy Pets of Greater Cincinnati attends each year or be a volunteer for
        evaluations. Please contact <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a> for more information.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>Can I get paid for providing AAA or AAT?</h2>
      <h3>No, Therapy Pets of Greater Cincinnati is a volunteer organization. Members donate their time to bring happiness to others. Any expenses
        you incur providing therapy, including mileage, uniform, and extra expenses for grooming, may be tax deductible.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>How much does Therapy Pets of Greater Cincinnati charge for visits?</h2>
      <h3>Therapy Pets of Greater Cincinnati members volunteer their time and do not charge for any pet therapy visit.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>What is Animal Assisted Activity?</h2>
      <h3>Animal Assisted Activities (AAA) are the casual “meet-and-greet” activities that involve pets visiting people. The same activity can be
        repeated with many people, unlike a therapy program that is tailored to a particular person or medical condition.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>What is Animal Assisted Therapy?</h2>
      <h3>Animal Assisted Therapy (AAT) is goal-directed intervention in which an animal that meets specific criteria is an integral part of the
        treatment process. Goals can be physical, educational, motivational or mental health oriented. In addition to goals, AAT programs measure
        the individual’s progress.</h3>
    </div><br>
    <div class="w3-container w3-theme-l2">
      <h2>What is the difference between service, therapy, companion, and “social” animals?</h2>
      <h3>Service animals are legally defined by the Americans with Disabilities Act (1990) and are trained to meet the disability-related needs
        of their handlers. Federal laws protect the rights of individuals with disabilities to be accompanied by their service animals in public
        places.<br><br>
        Federal law does not legally define therapy animals, but some states have laws defining therapy animals. They provide people with
        contact to animals, but are not limited to working with people who have disabilities. They are usually the personal pets of their handlers,
        and work with their handlers to provide services to others. Federal laws have no provisions for people to be accompanied by therapy animals
        in places of public accommodation that have “no pets” policies. Therapy animals usually are not service animals.<br><br>
        Companion animal is not legally defined, but is accepted as another term for pet. “Social/therapy” animals likewise have no legal definition. They
        often are animals that did not complete service animal or service dog training due to health, disposition, trainability, or other factors, and are
        made available as pets for people who have disabilities. These animals might or might not meet the definition of service animals.</h3>
    </div><br>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-row">
    <div class="w3-third">
      <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="w3-third">
      <h4>Pet Partners</h4>
        <a href="https://petpartners.org/" title="Pet Partners" target="_blank">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1512522927/logo-pet-partners_y4uicj.png" style="width:48px;height:48px;">
        </a>
    </div>
    <div class="w3-third">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr/" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="DUAURJPTRKQQ8">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
