<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("http://res.cloudinary.com/hqzzct2yz/image/upload/v1510350425/masonChristian_ncky9n.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Therapy Pets of Greater Cincinnati">Get Involved</button>
  </div>
</header>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#criteria" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Criteria</a>
  <a href="#starting" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Get Started</a>
  <a href="#training" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Training</a>
  <a href="#testing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Testing</a>

 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>

<!-- Facilities Container -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="criteria">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Does Your Pet Have What It Takes?</h2>
      <h4>
        Are you wondering if pet therapy is really for you? Wonder if your pet would make a good therapy pet? Here are some things to think about.
        You and your pet should have an interest in people and enjoy visiting.
      </h4>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Is it Right for Your Pet?</h2>
    <h2>Begin by evaluating your pet's perssonality and answering the following questions..</h2>
    <ul>
      <li>Is my pet friendly to strangers?  Will she actively solicit interactions with people?</li>
      <li>Does my pet enjoy being petted, touched and hugged?  Can he sit politely while being petted?</li>
      <li>Is my pet groomed and healthy looking?</li>
      <li>Can my dog can walk nicely on a leash, not pulling when I turn left or right and stopping when I stop?</li>
      <li>Will my dog behave and walk nicely through a crowded area?</li>
      <li>Will my dog sit and lay down when I tell him to? Will he stay when I tell him to?</li>
      <li>Will my dog come when I call him?</li>
      <li>Does my dog behave nicely around other dogs?</li>
      <li>Is my dog comfortable around distractions and noises?</li>
      <li>Will my dog leave items alone when told to leave it?</li>
      <li>Can my dog be away from me without getting upset and nervous?</li>
      <li>Can my dog take treats gently from a person's hand?</li>
      <li>Is my dog comfortable around people using wheelchairs and walkers, or in disruptive settings?</li>
    </ul>
    <h4>
      If you can't say yes to all of the statements above, you will need to work on your dog's behavior. A beginning obedience class will help you
      with all of these things. You may need more than one class to get your dog to a level where you feel confident about his behavior.
      While you are training your dog, be sure to give him lots of socialization. It's very important that your dog be stable and comfortable with
      many different sights, sounds people, and places.
      Also consider what type of environment your pet would enjoy. For example, your pet may enjoy being in the presence of quiet, elderly people
      but would be uncomfortable with the boisterous activity of a juvenile facility.  Would your pet prefer snuggling with one individual or being
      the center of attention in a group. Thinking about these things will help you prepare for the type of facilities you would like to visit.
    </h4>

    <h2>Prerequisites for the pet</h2>
      <ul>
        <li>All animals except birds must have lived in the owner's home for at least 6 months.</li>
        <li>Birds must have lived in the owner's home for at least 1 year.</li>
        <li>All animals except "pocket pets" must be at least 1 year old at the time the animal is evaluated. Pocket pets (e.g., guinea pigs, rabbits, rats, etc.) must be at least 6 months old at the time the animal is evaluated.</li>
        <li>Dogs trained to aggressively protect and/or encouraged to actively bite, even as a component of a dog sport (e.g., bite work that is part of Schutzhund) may not be therapy pets.</li>
        <li>If your animal is unpredictable, doesn’t like being around people, or is aggressive to people or other animals it would not be suitable for therapy work.</li>
      </ul>

    <h2>Animals That Can Be Therapy Pets</h2>
    <h4>
      There are a great many species that make wonderful visiting animals and can form a strong human-animal bond. Only domesticated animals may become therapy pets. Examples of registered pets include dogs, cats, Guinea pigs, rabbits, domesticated rats, horses, goats, llamas, donkeys, potbellied pigs, cockatoos and african gray parrots.

      Wild or exotic animals (e.g., snakes, ferrets, lizards) may not be therapy pets.
    </h4>

    <h2>Prerequisites for the person</h2>
      <ul>
        <li>The person handling the animal (handler) must be at least 10 years old. We do have "Junior Handlers".</li>
        <li>Handlers younger than 16 must be accompanied by a parent or guardian and must have written permission to participate from a parent or guardian.</li>
      </ul>
      <h4>
        People who do not have an animal, but who support our efforts, are always welcome to join Therapy Pets of Greater Cincinnati.

        If you and your pet meet the above criteria, then you are ready to get started!
      </h4>


      <p>Contact Glenna Mockbee for more information.</p>
  </div>
</div>


<div class="w3-row-padding w3-padding-64" id="starting">
  <div class="w3-container w3-padding-64 w3-center">
    <h2>Getting Started</h2>
      <h4>
        After browsing through our website, reading stories and testimonials and determining if your pet has what it takes, are you ready to start the
        process of becoming a Therapy Animal team?
        The path to becoming a registered Therapy Animal team consists of the following steps:
      </h4>
  </div>
  <div class="w3-row w3-margin"><br>
    <h2>Step 1:  Training</h2>
    <h4>
      Learn the skills needed to visit safely with your animal in hospitals, nursing homes, classrooms, and other facilities. Successful completion of
      this course is required for registration as a Therapy Animal team.
    </h4>
    <h2>Step 2:  Application Packet</h2>
    <h4>
      Complete the registration and evaluation form packet.
    </h4>
    <h2>Step 3:  Testing</h2>
    <h4>
      The Team Evaluation process evaluates the animal/handler team, how well the handler interprets and manages the animal's behavior, and how well
      the animal responds to the handler. This is a required step on your way towards becoming a registered Therapy Animal team.
    </h4>
    <h2>Step 4:  After Testing</h2>
    <h4>
      We are here to guide and mentor you as you begin visiting with your pet. You will be given the option of joining Therapy Pets of Greater Cincinnati,
      and you will have the opportunity to purchase merchandise such as a vest for your pet, or shirts, etc. Once you decide on the facilities you'd like
      to visit, you will be assigned a mentor who will help you to get started.
    </h4>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="training">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Training</h2>
      <h4>
        Learn the skills needed to visit safely with your animal in hospitals, nursing homes, classrooms, and other facilities.
        Successful completion of this course, in instructor-led or online format, is required for registration as a Therapy Animal team.
      </h4>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Complete the course in one of two formats offered:</h2>

    <h3>1.  Attend a Workshop (without your dog)</h3>

    <h4>
      All of our workshops are taught by experienced Therapy Animal team instructors who bring to each class many years of experience in
      Therapy Animal team work that is integrated into the workshop's content.  Our workshops are typically held at Bethesda North Hospital
      during a weekend day. These workshops are for handlers only. No pets please. The instructor or another group volunteer will have a
      registered Therapy Pet with them (the "demo dog") so that you may see an experienced team in action. Check the Upcoming Events for an
      upcoming Therapy Animal team Workshop, or contact us for more information.
    </h4>
    <h3>2.  Attend a 6 week class (with your dog)</h3>
    <h4>
      We periodically offer 6-week pet therapy classes.  Check the list of Upcoming Events on our website, for more information.
    </h4>
  </div>
</div>

<div class="w3-row-padding w3-padding-64" id="testing">
  <div class="w3-container w3-padding-64 w3-center">
    <h2>Testing</h2>
  </div>
  <div class="w3-row w3-margin"><br>

    <h4>
      You and your pet must successfully complete the Therapy Animal team Evaluation.  The Team Evaluation process is conducted by a
      licensed Team Evaluator and is intended to evaluate the animal/handler team, how well the handler interprets and manages the
      animal's behavior, and how well the animal responds to the handler. You will learn about the evaluation process in great detail a
      t our workshops.  Unlike obedience competitions, you and your animal do not have to perform the exercises with precision to pass
      the evaluation. You are also encouraged to talk to your animal during the entire evaluation. The main emphasis is that the animal is
      under control.  One of the goals of the Therapy Animal teams program is to ensure that we can all be proud of the visiting teams
      because they are safe and reliable. The evaluation process gives a complete picture of each handler/animal team. This process is the
      safest way to identify acceptable visiting teams. At no time will your animal be put in a situation that is dangerous to the animal's
      welfare. The licensed Team Evaluators are trained and know that the well-being of animals comes first, no matter what. At no point
      during the evaluation will animals be hurt or intentionally frightened. The test is designed to resemble situations that might occur
      when the animal goes on a visit. If you are uncomfortable with or unsure of what is going on during the evaluation, please let the
      evaluator know. You are encouraged to be your animal's advocate.
    </h4>
  </div>

  <div class="w3-container w3-padding-64 w3-center">
    <h2>
      The complete list of requirements for handlers, pets, equipment, etc. will be reviewed in detail during your workshop or class.
    </h2>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-half w3-container">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook"><i class="fa fa-facebook"></i></a>
  </div>
  <div>
    <h4>Donate</h4>
    <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Paypal"><i class="fa fa-paypal"></i></a>
  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
