<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="/bower_components/pf-calendar-events/pf-calendar-events.html">
  <link rel="import" href="/bower_components/mp-calendar/mp-calendar.html">

<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("http://res.cloudinary.com/hqzzct2yz/image/upload/v1516591492/cover_qqgkj7.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">

<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Therapy Pets of Greater Cincinnati</button>
    <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Go To W3.CSS">Therapy Pets of Greater Cincinnati</button>-->
 </div>
</header>

<!--<script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>  -->
<!-- Sidebar on click -->
<!--<nav class="w3-sidebar w3-bar-block w3-white w3-card-2 w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav> -->

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="about" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">About Us</a>
  <a href="facilities" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Facilities</a>
  <a href="getin" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Get Involved</a>
  <a href="help" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">How You Can Help</a>
  <a href="tales" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Happy Tales</a>
  <a href="faq" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">FAQ</a>
  <a href="#events" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Upcoming Events</a>

 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large">
    <a href="about" class="w3-bar-item w3-button">About Us</a>
    <a href="facilities" class="w3-bar-item w3-button">Facilities</a>
    <a href="getin" class="w3-bar-item w3-button">Get Involved</a>
    <a href="help" class="w3-bar-item w3-button">How You Can Help</a>
    <a href="tales" class="w3-bar-item w3-button">Happy Tales</a>
    <a href="faq" class="w3-bar-item w3-button">FAQ</a>
  </div>
</div>

<!-- Modal -->
<!-- <div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div> -->



<!-- Welcome -->

<div class="w3-row-padding w3-padding-64" id="welcome">
<div class="w3-row"><br>
<h2>Welcome</h2>
<p>Therapy Pets of Greater Cincinnati is an all-volunteer group of over 200 volunteer Therapy Teams that provide Animal Assisted Activities (AAA) and Animal-Assisted Therapy (AAT) to clients throughout the Greater Cincinnati/Northern Kentucky metro area. We are proud to be a Community Partner with Pet Partners® (formerly known as the Delta Society®) organization.

Our group actively promotes the benefits of the human-animal connection through community involvement, close cooperation with client facilities, and ongoing training, evaluation and mentorship opportunities for our members.
Many of our members also volunteer in the Pages 'N Paws reading program at several local schools, libraries and bookstores.

We are also available for public or private speaking engagements and to assist client facilities in establishing a pet therapy program and a training program for their staff and volunteers.

Browse through our website to learn more and see how you can become involved.</p>
</div>
</div>



<!-- Upcoming Events Section -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="events">
<div class="w3-row"><br>
  <h2>Upcoming Events</h2>
</div>

<div class="w3-row w3-padding-large">
  <!-- <div class="w3-half"> -->
    <mp-calendar day-labels='["Su","Mo","Tu","We","Th","Fr","Sa"]'
                 events-file=/bower_components/demo/events.json
                 >
    </mp-calendar>
  <!--  </div> -->
</div>

<div class="w3-row w3-padding-large">
<!--   <div class="w3-half">  -->
    <div class="w3-white w3-margin" id="trainingEvents">
      <div class="w3-container w3-padding w3-black">
        <h4>Training and Evaluation</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 3:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Saturday, February 3 at 9:30 AM - 2 PM<br>
            3730 Cobb Rd, Williamsburg, OH 45176<br>
            30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:happychef882@netscape.net">Karen Howell</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 17:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Saturday, February 17 at 9 AM - 3 PM<br>
            Locust Corner United Methodist Church  917 Locust Corner Rd, Cincinnati 45245<br>
            30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:kspradlin@fuse.net">Karen Spradlin</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1507161310/OH-BethesdaNorthHosptial_d85d2b60e76f78a081ac2dce69ef2667_urnet8.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 18:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Sunday, February 18 at 9 AM - 3 PM<br>
            Bethesda North Hospital  10500 Montgomery Rd, Cincinnati 45242<br>30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">March 24:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Saturday, March 24 at 9 AM - 3 PM<br>
            Locust Corner United Methodist Church  917 Locust Corner Rd, Cincinnati 45245<br>
            30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:kspradlin@fuse.net">Karen Spradlin</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1507161310/OH-BethesdaNorthHosptial_d85d2b60e76f78a081ac2dce69ef2667_urnet8.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">March 25:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Sunday, March 25 at 9 AM - 3 PM<br>
            Bethesda North Hospital  10500 Montgomery Rd, Cincinnati 45242<br>30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1507161310/OH-BethesdaNorthHosptial_d85d2b60e76f78a081ac2dce69ef2667_urnet8.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">April 15:  Pet Partners Handler Workshop</span>
          <br>
          <span>Sunday, April 15 at 9 AM - 3 PM<br>
            Bethesda North Hospital  10500 Montgomery Rd, Cincinnati 45242<br>
            Pet Partner Handler Workshop run by TPGC. Required course before getting your potential therapy pet evaluated. Handlers only, no pets. Presented by Glenna Mockbee
            Pet Partner Instructor and Evaluator. Also in attendance, Robin Daniels - Pet Partner Instructor and Licensed Evaluator, and several experienced handlers and
            testing assistants.  Registration fee $100 and pre-registration is required.
            please contact
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1507161310/OH-BethesdaNorthHosptial_d85d2b60e76f78a081ac2dce69ef2667_urnet8.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">April 29:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Sunday, April 29 at 9 AM - 3 PM<br>
            Bethesda North Hospital  10500 Montgomery Rd, Cincinnati 45242<br>30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a></span>
        </li>

        <li class="w3-padding-16">
          <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1507161310/OH-BethesdaNorthHosptial_d85d2b60e76f78a081ac2dce69ef2667_urnet8.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">May 12:  Pet Partners / TPGC  Therapy Team Evaluations</span>
          <br>
          <span>Sunday, May 12 at 9 AM - 3 PM<br>
            Bethesda North Hospital  10500 Montgomery Rd, Cincinnati 45242<br>30 minute evaluations of handlers and potential therapy pets are scheduled throughout the day. In order to be evaluated as a team, the
            handler has to have completed the Pet Partner Handler Workshop either locally or online. For more information on scheduling, please contact
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a></span>
        </li>

      </ul>
    </div>
<!--  </div>  -->
<!--  <div class="w3-half">  -->
    <div class="w3-white w3-margin" id="outreachEvents">
      <div class="w3-container w3-padding w3-black">
        <h4>Therapy Visits for Members</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">


        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 1:  Stress Relief for UC Students</span>
          <br>
          <span>Thursday, February 1 at 12 PM - 1 PM<br>
            UC Clifton Recreation Center<br>
            Parking available in any garage, they provide passes.  I will send a map and further info to those interested. Please contact
           <a href="mailto:lisaackels@gmail.com">Lisa Ackles</a> phone 513 675 7818</span>
        </li>



        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 6:  Science Night at Boyd E. Smith Elementary in Milford</span>
          <br>
          <span>Tuesday, February 6 at 6 PM - 8 PM<br>
            Science Night is a great opportunity for our students to get hands-on experience with a wide variety of science and technology fields. We’d love for you to participate in this year’s event, helping our
            students continue to explore the fascinating world of science and technology by sharing your insight and enthusiasm!  Please email
           <a href="mailto:gmockbee@fuse.net">Glenna Mockbee</a> if you think you can participate!</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 9:  Reading With Elementary Students</span>
          <br>
          <span>Please let me know if you can join us, or if you previously said you can make it but your plans have changed.
            Email <a href="mailto:sharon.newman5@gmail.com">Sharon</a><br>
            WHERE: St. Veronica Catholic School, 4475 Mt Carmel Tobasco Rd., Cincinnati (Mt Carmel)<br>
            TIME: 10:00 a.m. for meet and greet, 10:15 - 10:45 in classroom<br>
            FREQUENCY: Once a month</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">February 20:  Reading with Whiz Kids</span>
          <br>
          <span>Tuesday, February 20 at 3:45 PM - 5:00 PM<br>
            Goshen United Methodist Church  6710 Goshen Rd, Goshen, OH 45122<br>
           Email <a href="mailto:sharon.newman5@gmail.com">Sharon Newman</a>  for details.</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">March 1:  Stress Relief for UC Students</span>
          <br>
          <span>Thursday, March 1 at 12 PM - 1 PM<br>
            UC Clifton Recreation Center<br>
            Parking available in any garage, they provide passes.  I will send a map and further info to those interested. Please contact
           <a href="mailto:lisaackels@gmail.com">Lisa Ackles</a> phone 513 675 7818</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">March 6:  Stress Relief for UC Blue Ash Students</span>
          <br>
          <span>Tuesday, March 6 at 12 PM - 2 PM<br>
            Muntz Auditorium  <a href="https://maps.google.com/?q=9555+Plainfield+Rd.+Blue+Ash&entry=gmail&source=g">9555 Plainfield Rd  Blue Ash</a><br>
            Parking in any student parking lot, no need for a pass. Please contact
           <a href="mailto:lisaackels@gmail.com">Lisa Ackles</a> phone 513 675 7818</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">April 5:  Stress Relief for UC Students</span>
          <br>
          <span>Thursday, April 5 at 12 PM - 1 PM<br>
            UC Clifton Recreation Center<br>
            Parking available in any garage, they provide passes.  I will send a map and further info to those interested. Please contact
           <a href="mailto:lisaackels@gmail.com">Lisa Ackles</a> phone 513 675 7818</span>
        </li>

        <li class="w3-padding-16">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/c_scale,h_152/v1507162093/dogicon_tmeeyw.png" alt="Image" class="w3-left w3-margin-right" style="width:75px">
          <span class="w3-large">April 30:  Stress Relief for Xavier Students</span>
          <br>
          <span>Monday, April 30 at 11:30 AM - 1:30 PM<br>
            Xavier University, Cintas Center<br>
            Parking behind the Cintas Center, passes will be provided. Please contact
           <a href="mailto:lisaackels@gmail.com">Lisa Ackles</a> phone 513 675 7818</span>
        </li>

      </ul>
    </div>
<!--   </div>  -->
</div>
</div>


<hr>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>If you are interested in requesting a therapy session, please contact us with the information below:</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> Therapy Pets of Greater Cincinnati<br>
                                                                  P. O. Box 1392<br>
                                                                  West Chester OH 45071</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>513-604-9108</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i><a href="mailto:tpgc@fuse.net">tpgc@fuse.net</a></p>
    </div>
    <div class="w3-col m7">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/a_0/v1513654013/footer_nxemou.jpg" alt="reading" style="margin-top:0px; height:400px" class="w3-hover-opacity">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-row">
    <div class="w3-third">
      <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="w3-third">
      <h4>Pet Partners</h4>
        <a href="https://petpartners.org/" title="Pet Partners" target="_blank">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1512522927/logo-pet-partners_y4uicj.png" style="width:48px;height:48px;">
        </a>
    </div>
    <div class="w3-third">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr/" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="DUAURJPTRKQQ8">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>



  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
