<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://res.cloudinary.com/hqzzct2yz/image/upload/v1510531053/Loose_leads_ji8qel.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Therapy Pets of Greater Cincinnati">Happy Tales</button>
  </div>
</header>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#newsletters" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Recent Newsletters</a>
  <a href="#profiles" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member Profiles</a>
  <a href="#testimonials" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Testimonials</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>

<!-- Happy Tales Container -->
<div class="w3-row-padding w3-padding-64" id="newsletters">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Recent Newsletters</h2>
      <a href ="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511146251/Summer_2017_lwllym.pdf">Summer 2017</a>
  </div>
</div>

<div class="w3-row-padding w3-padding-64" id="profiles">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Member Profiles</h2>
    <h4>
      We currently have over 200 Therapy Team volunteers. Our members are a dedicated group of volunteers active in a myriad of dog
      training and competition venues in addition to their pet therapy work, community and religious group involvement, and social
      and professional endeavors.<br>
      Read below what some of our members have to say about the work they do. Learn from our volunteers what we do, and how we do it,
      but most importantly why we do it.<br>
    </h4>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216093/members/lawrenceBennett.jpg" alt="lawrence" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Lawrence Bennett and Frye</h3>
      <p>“Frye” (2 year old Lab rescue)has passed his test on Nov. 19, 2017 (see photo at B/North taken right after passing).
We are now awaiting his badge so we can start going to Shriners Burn Hospital For Children, and also to Center For Addiction Treatment.
CAT is a new TPGC site.
I will be holding a University of Cincinnati /Fire Science & Emergency Management course at CAT in March, 2018 – Firefighters / Paramedic students,
Social Work students, and “Alumni” from CAT.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513217997/members/sherryCase.jpg" alt="lawrence" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Sherry Case and Starla and Sophie</h3>
      <p>Starla, Sophie and I began our volunteer work with TPGC in 2010 following my retirement from a career in education. The girls are biological sisters who are now
        13 years old. Although they have slowed down a little they still love to work with the children's reading groups at Mason Early Childhood Center, the Mason Public
        Library and the West Chester Public Library.  Some of our special memories include Starla's work helping little kids overcome their fear of black dogs; and both
        Sophie's and Starla's gentle, sweet nature that helps children develop confidence in their reading skills and understanding of dogs. Finally, over the past
        7 years we have met many wonderful dogs and their handlers as well as many grateful parents and teachers who feel the dogs have made a difference in the children's
        educational and personal development. </p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216097/members/samGingrich.jpg" alt="sam" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Sam Gingrich and Brutus</h3>
      <p>Brutus is a 7 year old Golden Doodle. We have been a therapy team for 4 years. We just passed our 3D evaluation, so we are starting our 5th year of therapy work.  I
        am a retired advertising executive, and Brutus and I live in Lebanon with my wife, cat, and Jack Russel Terrier ,Ziggy. We make 4 visits each week, all in Lebanon.
        We visit Alzheimer’s patients at Otterbein Retirement Center, Arrowsprings Tri-health Medical Center , and we visit special needs classes at both the high school, and
        at Bowman  elementary.
    The smiles and joy Brutus brings to either an 80 year Alzheimer’s patient, or a 6 year old child in a wheelchair is why we continue to enjoy our therapy work. It is a
    wonderfully rewarding, and fun way to give back!</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216095/members/karenHowell.jpg" alt="karenh" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Karen Howell and Shaunessy and Jedadiah</h3>
      <p>My name is Karen Howell, I've been a member since 2012. I truly love being a therapy dog volunteer.  I have two collies, Shaunessy who is 7 years old and
        Jedadiah who is 5. We visit Mercy Anderson Hosp, Clermont Mercy Hosp., Hospice of Cin, Georgetown Veterans Home and we have a read program at the Mt Orab library.
        I do fit my full time job, grandchildren and ailing mother in there as well as my church.  I'm also one of the newest Team Evaluator and I truly thank you for
        trusting me with that honor. Thank you for all you do TPGC!!!</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216094/members/georgeKent.jpg" alt="george" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>George Kent and Bisou and Phaedra</h3>
      <p>This is George Kent, retired professor, government administration, not-for-profit CEO and perennial volunteer. With two standard poodles, Bisou age 4 and
        Phaedra age 13, I have been involved with pet therapy for seven years. During this time, we have visited hospitals, nursing home, hospice, substance abuse
        facilities, libraries, special needs facilities, schools and businesses but now we're down to 1/2 day a week at St.Elizabeth Hospital. As anyone involved in
        pet therapy can tell you, rarely is there an activity as rewarding and fulfilling as working with your dogs to bring pleasure and support to folks who so
        appreciate your efforts. </p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216094/members/karenMiller.jpg" alt="karenm" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Karen Miller and Bella</h3>
      <p>My name is Karen Miller and my therapy dog’s name is Bella.  We live in Huntington, WV and became members of TPGC in October of 2016 once Bella passed her Pet Partners
        evaluation in Cincinnati.  Bella is a rescue dog, a loving, 7 year old yellow Labrador. Since joining TPGC, we have visited many retirement homes and have also done
        a reading program at our library.  However, our passion for the broken-hearted has led us to our local Emogene Dolin Jones Hospice House bringing love and comfort to
        patients and families facing the end-of-life journey. Bella is the only therapy dog presently but the impact of her visits have been so beneficial that I have now been
        asked to help towards growing the therapy dog program at this wonderful Hospice House! The moments we have shared with families as well as the staff have been amazing.
        What an blessing it is to be able to brighten up a room full of people in otherwise dim circumstances, as well as, relieve the stress on nurses caring for the terminally
        ill  with the joy and love of a dog! The investment of time and love shared with others is returned a hundred-fold experiencing first-hand the comfort, joy and
        companionship a dog brings to our families there. I’m so thankful for the opportunity to be involved in pet therapy with Bella!</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216092/members/sharonNewman.jpg" alt="sharon" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Sharon Newman and Roxie</h3>
      <p>I live in Loveland, Ohio and have been a therapy dog handler since 2012. My employment background is
in Information Technology as a Business Systems Analyst, where I defined business users’ technology
needs and then designed technical solutions for them. Roxie and I have been a therapy dog team since
she was one year old in California, and joined Pet Partners and TPGC after moving to Cincinnati in 2015.
We visit schools and participate in their science fairs and many reading programs where children read to
the dogs. We also visit assisted living facilities and retirement homes. It is incredibly rewarding to see the
immediate and positive effect our visits have on people. The most memorable times are seeing residents
in an assisted living facility’s memory unit, sitting in a dazed and unresponsive state, suddenly become
animated and responsive when Roxie approaches as they pet her and speak to her. Another touching
moment was when a first grade boy read a story to Roxie, which I later found out was the first time he
ever read a book out loud. Therapy dogs touch a special place in people’s hearts and minds and it’s a
beautiful thing to be a conduit for that. I love living in the Greater Cincinnati area and plan to live here and
do therapy dog work for the rest of my days.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216094/members/barbaraPolland.jpg" alt="barbara" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Barbara Polland and Crystal</h3>
      <p>Crystal and I have been visiting the Lindner Center of Hope for about 2 ½ years and she is treated like royalty there!  When she visits, the patients sit on the
        floor and Crystal visits with each person and gives them her special love!  If someone new enters the room she is quick to greet them with her tail wagging wildly to put them at ease.  Quite often Crystal will want to spend extra time with a particular person and the staff will tell me that person was having a hard day – she just knows when someone needs a little extra love!</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216096/members/amyShowalter.jpg" alt="amy" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Amy Showalter and Finnegan</h3>
      <p>Finn will be 7 in January and has been a registered TPGC therapy pet since 2012. He is a “Parti Pom” meaning a partial-color Pomeranian. He is considered a
        “throwback Pom” since he is larger than most Pomeranians, meaning he is closer to his Spitz heritage.

He visits Ronald McDonald House, and participates in the Clermont County Library “Barks and Books” program,  St. Veronica’s School “Pages and Paws” program, and the
Kids Club Special Needs Ministry at Crossroads Community Church.

His favorite toy is Lamb Chop, for which he of course has seasonal versions of for each holiday! </p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216097/members/karenSizemore.jpg" alt="karensiz" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Karen Sizemore and Daisy</h3>
      <p>Daisy and I have been with Therapy Pets of Greater Cincinnati since July of 2017. Daisy is a 3 and 1/2 year old German Shepherd that just loves her work.
        In our short time with TPGC we have already visited Mercy Hospital in Fairfield almost weekly. We have also visited Bethesda North, and the Clermont Juvenile
        Detention Center. And, we look forward to working with area schools and helping the students de-stress and read.
I can’t fully describe the joy Daisy has brought people. The smiles on people faces as she greets them are priceless. It is heartwarming to watch people hug Daisy
tightly with tears in their eyes telling her how much they needed her today or to hear a patient thanking God for the visit. What important work we are able to do!
Daisy also attends a lot of dog training classes on a continuing basis with agility and lure coursing being her favorites. Daisy has two cat brothers named Josh & Joey
and a  german shepherd brother named Astro that she loves to play with. Astro is working on his behavior so that he can also be a therapy dog just like his big sister, Daisy.
There is no one Daisy doesn’t love and we are so lucky to be able to share that love with so many patients, doctors, nurses, staff, families...heck, everyone by being a
part of Therapy Pets of Greater Cincinnati</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216092/members/kimSmith.jpg" alt="kim" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Kim Smith and Kirby, Fox and Rue</h3>
      <p>My registered dogs are Kirby, Fox and Rue
Kirby and Foxx go to Shriners Burn's hospital for Children. Childrens Reading events at schools. Kirby is a Pembroke Welsh Corgi. Foxx is a Schipperke and he goes to Shriners also.
Rue is not exactly fond of little kids but they kids 8 and up. He like so he sometimes goes to Shriners but much perfers active kids.
I have been with TPGC since 2002.
I have had many dogs in TPGC since 2002.
I have done lectures for the workshops on Stress Management.
I show dogs and have done obedience, agility, barn hunt, lure coursing, breed competition but the ribbon that means the most me was for Daubie My House Elf with 200 visits. The
ribbon is given by the American Kennel Club.
When I lost Daubie the North Central and Reading Rd library dedicated a book in his honor. A Dog's Purpose.
I started in Children's hospital with Kippie. He was a once of a lifetime teacher for me. He is the reason and the purpose why I serve in Therapy work. He would have had well
over 500 visits.
He was an excellent teacher. </p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216093/members/samiSmith.jpg" alt="sami" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Sami Smith and Lexi</h3>
      <p>Lexi and I were pet partners creating Lexi Pet Therapy Reading Program at Madeira Elementary School, the Madeira Library and doing Madeira Community events for 12 years
        that we were members of TPGC. Our reading program serviced @600 students a year. The students became enthusiastic readers On "Lexi Day".
        Parents were grateful for our program and some parents who had children afraid of dogs became dog owners thanks to Lexi's human-animal bond experience.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216093/members/KarenSpradlin.jpg" alt="karensp" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Karen Spradlin and Baxter</h3>
      <p>My name is Karen Spradlin and I am a retired high school and college educator. My Pet Partner, Baxter,
is a six year old rescued Labradoodle. I have been doing therapy work since 2009. We visit hospitals,
nursing homes, schools, mental health facilities, libraries and the Juvenile Detention Center. I am a Pet
Partners ® Evaluator and Instructor. Last year, after giving a presentation to a group of mental health
patients, a lady in the audience said, “Do you remember me?” I stammered a little because I didn’t
remember her but before I could answer she said, “Baxter visited me while I was in the hospital. When
you introduced yourself and asked if I wanted a pet visit, I told you no. You asked if it was alright for
Baxter to pray for me. I thought ‘a dog can’t pray’ so I wanted to see it. Baxter went down on the floor
and put his head between his paws and then you said the prayer. I was so moved I told you both to
come in. I cried while petting Baxter and I told him that I came to the hospital because I didn’t want to
live anymore; that no one cared about me. And then, I told you that I had refused to eat for three days,
refused my medication, and just wanted to die. But I looked out my door and there you were……….God
sent Baxter to me, his Angel.” I had tears in my eyes because I then remembered. After petting Baxter
she rang the nurse’s bell and asked to eat and told the nurse she would take her medication now. A year
later she sat in the audience listening to our presentation and looking healthier than when I last saw her.
Yes, God works in mysterious ways. He guides our wonderful animals to those who need it the most. I
am so humbled by Baxter’s ability to love and in the process, change lives.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216096/members/aliceSturgeon.jpg" alt="alice" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Alice Sturgeon and Luke</h3>
      <p>My name is Alice Sturgeon. I am currently the Secretary for Therapy Pets of Greater Cincinnati.  I have been a member since 2010.  My current pet
        partner is Luke, a 4 year old Golden Retriever. Our visits include Kings HS, Mason Middle School, Evendale Elementary, Read Program plus numerous special
        events.
Visits from Luke bring smiles, lots of hugs and pets and sometimes tears. Not only do the folks that we visit benefit from pet therapy but the joy of providing
blessings to others is heartwarming. </p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1513216094/members/deeVolante.jpg" alt="dee" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Dee Volante and Bella</h3>
      <p>My name is Dee Volante and my pet partner is Bella.  She is a 10 year old golden retriever and a rescue from GRRAND.  We have been a team since 2014.
        Bella loves kids of all ages! We visit elementary schools, library events, even high school and college events. We also help with Pet Partners testing.
        I am assistant and Bella is the neutral dog.  </p>
    </div>
  </div>

</div>  <!-- closing profiles -->



<div class="w3-row-padding w3-padding-64" id="testimonials">
  <div class="w3-container w3-padding-64 w3-center">
    <h2>Testimonials</h2>
  </div>
  <div class="w3-row w3-margin"><br>
    <h2>Jewish Family Service</h2>
    <h4>
      Dear Glenna,<br>I'm writing to thank you for the four lovely volunteers that Jewish Family Service has met because of you.<br>
      Shay Allison and Isabella, and Ellen Scully and Rowdy have been visiting two of our sites since September.<br>
      I have tagged along with Ellen and Shay as they work their beautiful dogs to bring a measure of gentle contact to a nursing home
      and to a group home for challenged adults.<br>
      They are a pleasure to know and a joy to watch.<br>
      Thank you so much.<br>
      Pat<br>
      Patricia Rosenberg<br>
      Jewish Visiting Initiative
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>CCHMC</h2>
    <h4>
      I just wanted to say a special thank you to you for all that you do for the patients, families and staff here at CCHMC.  You bring
      smiles to so many faces and we truly appreciate you volunteering your time to do so.<br>
      It has been so wonderful working with you this past year and a half.  I wish you the best of luck in all you do and a happy and
      healthy future.<br>
      Cathy
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Mary Zidron</h2>
    <h4>
      I can't thank you enough for bringing all of the dogs to our school!  They were super!  If I didn't work full time, I would try
      to train my dogs (even though I have spoiled them to death...my husband says there's  no hope).<br>
      Mary
    </h4><br>
  </div>



</div> <!-- closing testimonials -->

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-row">
    <div class="w3-third">
      <h4>Follow Us</h4>
        <a class="w3-button w3-large w3-blue" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="w3-third">
      <h4>Pet Partners</h4>
        <a href="https://petpartners.org/" title="Pet Partners" target="_blank">
          <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1512522927/logo-pet-partners_y4uicj.png" style="width:48px;height:48px;">
        </a>
    </div>
    <div class="w3-third">
      <h4>Donate</h4>
      <form action="https://www.paypal.com/cgi-bin/webscr/" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="DUAURJPTRKQQ8">
        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-medium.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>

  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
