<!DOCTYPE html>
<html>
<title>TPGC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg {background-image: url("https://res.cloudinary.com/hqzzct2yz/image/upload/v1510531053/Loose_leads_ji8qel.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body id="myPage">
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">
    <button  class="w3-button w3-xxxlarge w3-theme w3-hover-teal" title="Therapy Pets of Greater Cincinnati">Happy Tales</button>
  </div>
</header>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="#newsletters" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Recent Newsletters</a>
  <a href="#profiles" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Member Profiles</a>
  <a href="#stories" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Members' Stories</a>
  <a href="#testimonials" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Testimonials</a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">

  </div>
</div>

<!-- Happy Tales Container -->
<div class="w3-row-padding w3-padding-64" id="newsletters">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Recent Newsletters</h2>
      <a href ="http://res.cloudinary.com/hqzzct2yz/image/upload/v1511146251/Summer_2017_lwllym.pdf">Summer 2017</a>
  </div>
</div>

<div class="w3-row-padding w3-padding-64" id="profiles">

  <div class="w3-container w3-padding-64 w3-center">
    <h2>Member Profiles</h2>
    <h4>
      We currently have over 200 Therapy Team volunteers. Our members are a dedicated group of volunteers active in a myriad of dog
      training and competition venues in addition to their pet therapy work, community and religious group involvement, and social
      and professional endeavors.<br>
      Read below what some of our members have to say about the work they do. Learn from our volunteers what we do, and how we do it,
      but most importantly why we do it.<br>
    </h4>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="https://res.cloudinary.com/hqzzct2yz/image/upload/v1511750301/sharonanderson_fqyit2.jpg" alt="sharon" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Sharon Anderson and Bandit</h3>
      <p>Bandit and I have been members of Therapy Pets of Greater Cincinnati since the group was officially formed. The people at Ronald McDonald House
        "introduced" me to Glenna. We had started on our own going twice a month to a small nursing home close to Oxford where we live. We now also go
        to Ronald McDonald House and the Fairfield Lane Library where Bandit is the reading dog. We have been visitors to the Edgewood Middle School,
        spoke to the Oxford Kiwanis, and have participated in several programs with Therapy Pets of Greater Cincinnati.</p>
    </div>
  </div>


  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1510517024/janedewey_dugvco.jpg" alt="jane" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Jane Dewey and Diva</h3>
      <p>Diva is my 4 year old tri-color Pembroke Welsh Corgi. She replaced my first therapy dog when she retired. Diva competes in agility trials
        2-3 weekends a month and is a very high energy, high-drive dog, but when she goes to Bethesda North Hospital or Ronald McDonald House she
        morphs into this wonderful therapy dog that wants to meet and greet everyone in sight! She started her work at the age of one and as time
        has passed she definitely feels that she rules the hospital. Everyone knows her name! She seeks out her favorite nurses as she makes her
        rounds. Her jaunty attitude brings a smile to patients and staff alike.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1510517024/amyhudoba_azou1b.jpg" alt="amy" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Amy Hudoba and Sparky</h3>
      <p>I was unaware of pet therapy programs at the time of my retirement which was at the time Sparky came into our lives at the age of eight
        weeks. While I was visiting a friend at Jewish Hospital, a Therapy Team came to visit her, and we witnessed firsthand the difference a
        pet can make to someone who is ill. Our friend’s day was totally brightened by this visit. So, it was upward and onward for my planning
        to get Sparky trained and certified by his first birthday so we could visit and make a difference….unconditional love.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1510517023/TerriRalenkotter_evc02t.jpg" alt="terri" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Terri Ralenkotter and Seti</h3>
      <p>I became interested in Pet Therapy during a visit to Children’s Hospital where I saw some Therapy Dogs and thought that Chloe would be a
        good candidate. I soon made arrangements for us to be evaluated and within a month or so we were visiting a nursing home and several
        hospitals.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1510517023/cjsavage_tl3kvd.jpg" alt="cj" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>CJ Savage and Lincoln</h3>
      <p>Lincoln, a 3-year-old Labradoodle, spent his first year in the Indiana prison system learning to be an assistance dog. The Big Guy was
        a little frightened around things like revolving doors so the warden gave him an early release.</p>
    </div>
  </div>

  <div class="w3-row"><br>

    <div class="w3-quarter w3-padding-32">
      <div class="w3-container w3-center">
        <img src="http://res.cloudinary.com/hqzzct2yz/image/upload/v1510517024/maureenwalczak_jyzsks.jpg" alt="maureen" style="margin-top:0px; height:200px" class="w3-hover-opacity">
      </div>
    </div>

    <div class="w3-threequarter w3-padding-32 w3-theme-l6">
      <h3>Maureen Walczak and Tootsie</h3>
      <p>Maureen Walczak and Tootsie have been a Therapy Team since February, 2008. This summer the Team began volunteering at the Campbell and
        Boone County libraries in the summer R.E.A.D. programs. Their work has been so impressive that they were featured on the front page of
        the August 13 Kentucky Enquirer: "Dogs Are Good Listeners."</p>
    </div>
  </div>

</div>  <!-- closing profiles -->

<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="stories">
  <div class="w3-container w3-padding-64 w3-center">
    <h2>Members' Stories</h2>
  </div>
  <div class="w3-row w3-margin"><br>
    <h2>Arlene Levan</h2>
    <h4>
      My oldest Lab's name is Shadow.  Shadow will be 14 years this coming May.  His health at present is really deteriorating.  However,
      about six months ago - early AM - about 6:30 to be exact I felt a wet nose poking my face.  I told him to lie down but he turned
      around and poked me again.  I thought maybe he really had to go out so I got up and took him and the other dogs to the kitchen to
      go out back.  They all went out but while I was in the kitchen I kept feeling a hot area by my stove.  I looked around and saw that
      my husband forgot the teapot - he had boiled water, got sidetracked and all the water boiled out and the teapot was starting to burn.
      I feel Shadow had smelled the burning teapot and probably saved us from a fire in the house.  Although he has always been a great dog, I
       will always remember him for this incident.
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Nancy Bashaw</h2>
    <h4>
      Partner and I went to a nursing home and a supervisor from the nursing home was with me on the rounds.  We went into one man's room and
      Partner was in bed with the gentleman and he (the gentleman) was petting Partner, my dog, and talking to me in long complete sentences.
      We did this about 20 minutes and then left.  When we were out of the room, the supervisor said that he had been there two years and she
      did not know that he could talk in sentences.
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Susan Ertel</h2>
    <h4>
      Belle, the basset hound, and I read every week at a local elementary school in a first grade classroom. We read individually with four
      students each week and rotate until we complete the classroom rotation. Belle actually becomes a part of that classroom - she is bulletin
      board material, writing and history exercises in the classroom - we even have a birthday party for Belle just like the other students.
      The children love it - they make birthday cards, and we have people puppy chow.  Since this is our third year at the school, Belle is
      very well known.  At the close of each of our visits, Belle goes to the office and sits in front of the school secretary's bottom file
      drawer.  This is where her treat bones are kept and she gets one every week!  We have been embraced by all of the school staff and
      students.  I have written a children's book about Belle's story - "Belle the Hound That Was Found" -  not too bad for a rescued basset.
      She works magic everywhere she goes.  We PAWS to celebrate pet therapy every chance we get.
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Sharon Anderson</h2>
    <h4>
      Bandit and I were visitors in a special needs class. The idea was for the kids to interact with Bandit and then talk to their parents.
      One of the kids came over and sat down next to us. He was in the class because he had a history of violent behavior. For about an hour,
      he petted Bandit and talked about his life of abuse at home. The teacher was surprised because the boy had never told anyone about the
      extent of the abuse.
    </h4><br>
  </div>

</div> <!-- closing stories -->

<div class="w3-row-padding w3-padding-64" id="testimonials">
  <div class="w3-container w3-padding-64 w3-center">
    <h2>Testimonials</h2>
  </div>
  <div class="w3-row w3-margin"><br>
    <h2>Jewish Family Service</h2>
    <h4>
      Dear Glenna,<br>I'm writing to thank you for the four lovely volunteers that Jewish Family Service has met because of you.<br>
      Shay Allison and Isabella, and Ellen Scully and Rowdy have been visiting two of our sites since September.<br>
      I have tagged along with Ellen and Shay as they work their beautiful dogs to bring a measure of gentle contact to a nursing home
      and to a group home for challenged adults.<br>
      They are a pleasure to know and a joy to watch.<br>
      Thank you so much.<br>
      Pat<br>
      Patricia Rosenberg<br>
      Jewish Visiting Initiative
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>CCHMC</h2>
    <h4>
      2008<br>
      I just wanted to say a special thank you to you for all that you do for the patients, families and staff here at CCHMC.  You bring
      smiles to so many faces and we truly appreciate you volunteering your time to do so.<br>
      It has been so wonderful working with you this past year and a half.  I wish you the best of luck in all you do and a happy and
      healthy future.<br>
      Cathy
    </h4><br>
  </div>

  <div class="w3-row w3-margin"><br>
    <h2>Mary Zidron</h2>
    <h4>
      2/17/06<br>
      I can't thank you enough for bringing all of the dogs to our school!  They were super!  If I didn't work full time, I would try
      to train my dogs (even though I have spoiled them to death...my husband says there's  no hope).<br>
      Mary
    </h4><br>
  </div>



</div> <!-- closing testimonials -->

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <div class="w3-half w3-container">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  </div>
  <div>
    <h4>Donate</h4>
    <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/Therapy-Pets-of-Greater-Cincinnati-324108054289534/?ref=page_internal" title="Paypal" target="_blank"><i class="fa fa-paypal"></i></a>
  </div>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "300px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
